  @import url('https://fonts.googleapis.com/css2?family=Belleza&family=Cormorant+Garamond:wght@300;400;700&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Pangolin&display=swap');

  *{
    font-family: Cormorant !important;
  }

  body{
    margin: 0px;
    padding: 0px;
    background-image: url('/public/img/body/bg-body.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    padding-top:20px;
  }
  .slick-arrow{
    display: none !important;
  }