<template >
    <div class="people">
       <div class="acount" v-for="user in users" >
        {{ user.name }}
       </div>
    </div>

</template>
<script>

export default {
    props:{
        users:{
          type:Array,
            require :true,
        }
    }
  
}
</script>

<style scoped>

.people{
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 126px;
  height: 50px;
  border: 1px solid black; 
  box-sizing: border-box !important;
}
.acount{
  width:40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid white;
  background-color:teal;
  margin: 2px;
  color: white;
}
</style>