<template >
<link rel="stylesheet" href="public/css/slick.css">
<link rel="stylesheet" href="public/css/slick-theme.css">

<div class="row ">
    <div class="col">
        <div  class="wrapper_Bord">
            <div class="item" v-for="bilBordlist in bilBordlists" 
            :style="{backgroundImage:'url(public/img/bilBords/'+bilBordlist.bilBord_img+')'}">
            </div>
        </div>
    </div>
</div>


</template>
<script>
import * as slick_min from "/public/js/slick.min.js";
import * as slick from "/public/js/slick.js"

export default {
    props:{
        bilBordlists:{
            type:Array,
            require:true,
        }
    }  
} 
</script>
<style scoped>

.wrapper_Bord{
    height: auto;
    border:none;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.item{
    border-radius: 15px;
    height:550px ;
    background-color:black;
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    border:none;
}

</style>