<template>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="wrapp_planet" >
            <strong> List of planets </strong>
            <planetItem v-for="planet in planets" :planet="planet">
            </planetItem>
        </div>
            </div>
        </div>
    </div>
</template>

<script>
import planetItem from "@/components/planetItem.vue";

export default{
    components:{
        planetItem,
    },
    props:{
        planets:{
            type:Array,
            require :true,
        },
    }
}
</script>
<style scoped>

.wrapp_planet{
    height: 550px;
    overflow: hidden;
    box-sizing:border-box;
    padding: 2px;    
    display:grid;
    justify-items: center;
    align-items:center;
 
}
strong{
    text-transform: uppercase;
    font-size: large;
    text-decoration: underline;

}

</style>