<template>
    <div class="wrapper" 
    :style="{backgroundImage:'url(/img/planets/'+planet.img+')'}">
        <div class="text">

            <div class="title">
            <strong>{{ planet.title }}</strong>
            </div>
            <div class="content" id="content">{{ planet.content }}</div>
            <button  @click="" class="more">More</button>
        </div>
        <button class="name_Planet">{{ planet.title }}</button>

        <slickUsers  :user="user">
        
        </slickUsers>
    </div>
</template>
<script>
import slickUsers from "@/users/slickUsers.vue";
export default {
  components:{
  slickUsers
},
    props:{
        planet:{
            type:Object,
            require :true,
        },
        user:{
          type:Object,
          require:true,
        }
    }
}
</script>
<style lang="css" scoped>
.wrapper{
  width: 400px;
  height: 250px;
  border: none;
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 10px;
  background-position:100%;
  background-size:100% 100%;
  background-repeat: no-repeat;
}
.text{
  width: 30%;
  height: 80%;
  display: grid;
  justify-content: center;
  border: none;
  color:white;
}
.user{
  background-color:white;
  width: 35px;
  height: 35px;
  border:1px solid white ;
}
.title{
  font-size: 25px;
}
img{
  width: 100%;
  height: 100%;

}


.more{
background-color: white;
width: auto;
height: 20px;
border-radius:15px;
border:transparent;
}
.name_Planet{
  color: white;
  width: 100px;
  height: 30px;
  border:1px solid blueviolet;
  border-radius: 20px;
  background: transparent;
  align-self: flex-end;
  cursor: pointer;
}
</style>