<template>
    <div>
        <form action="" class="form_add">
            <input type="text">
            <input type="text">
        </form>
    </div>
</template>
<script>


export default{
 
}
</script>


<style scoped>
input{
    margin: 5px;
}
.form_add
{
    width: 350px;
    height: 150px;
    border:1px solid black;
    display: grid;
    justify-items: center;
}

</style>
