<template >
  <div class="container">
    <bilBord :bilBordlists="bilBordlists"> </bilBord>
    <Planet_list :planets="planets"></Planet_list>
  </div>
</template>

<script>
import Planet_add from "@/components/Planet_add.vue";
import Planet_list from "@/components/Planet_list.vue";
import bilBord from "@/bilbord/bilBord.vue";

export default{
  components:{
    Planet_add,Planet_list,bilBord
  },

  data(){
  return { 
    planets:[ 
      {id:1,title:'Mercury',content:'description_1',img:'mercury.jpg'},
      {id:2,title:'Venus',content:'description_2',img:'venus.jpg'},
      {id:3,title:'Earth',content:'description_3',img:'earth.jpg'},
      {id:4,title:'Mars',content:'description_3',img:'mars.jpg'},
      {id:5,title:'Jupiter',content:'description_3',img:'jupiter.jpg'},
      {id:6,title:'Saturn',content:'description_3',img:'saturn.jpg'},
      {id:7,title:'Uranus',content:'description_3',img:'uranus.jpg'},
      {id:8,title:'Neptune',content:'description_3',img:'neptun.jpg'},

    ],
    users:[
      {id:1,name:'user_1',user_img:'wallpaper.jpg'},
      {id:2,name:'user_2',user_img:'user_2'},
      {id:3,name:'user_3',user_img:'user_3'}
    ],
    bilBordlists:[
      {id:1,BTitle:'The first bilbord',bilBord_img:'bilbord_nr1.jpg'},
      {id:2,BTitle:'The second bilbord',bilBord_img:'bilbord_nr2.jpg'},
      {id:3,BTitle:'The three bilbord',bilBord_img:'bilbord_nr3.jpg'},

    ],
  }
},

}

</script>

<style scoped>
body{
  margin: 0px;
  padding: 1px;
  box-sizing: border-box;
}
</style>